$royalblue: rgb(47,128,191);
$lightblue: rgb(179,195,210);
$fadedlightblue: rgb(181,196,211);
$lightgrey: rgb(233,233,233);
$fadedlightgrey: rgb(217,217,216);
$darkgrey: rgb(103,104,103);
$lightergrey: rgb(211,211,211);
$lightborder: rgb(246,247,248);
