@import '../extendables';

@mixin tool_bar(
  $id,
  $height,
  $width,
  $background-color
  ) {
    ##{$id} {
      @extend %center;

      height: $height;
      width: $width;
      background-color: $background-color;
      display: flex;
      align-items: center;
      justify-content: center;

      * {
        display: inline;
      }

    }
}

@mixin tool_bar_button(
  $id,
  $background-color,
  $font-size,
  $width,
  $height,
  $font-color,
  $dividecolor,
  $border,
  $borderradius,
  $customimage
  ) {
    ##{$id} {
      height: $height;
      width: $width;
      background-color: $background-color;
      font-size: $font-size;
      color: $font-color;
      border: $border;
      border-left: 1px solid $dividecolor;
      border-radius: $borderradius;
      @if $customimage != none {
        background: url($customimage) no-repeat center;
      }
    }
}

@mixin tool_bar_select(
$id,
$background-color,
$font-size,
$width,
$font-color,
$appearance,
$border ,
$customimage,
$leftpadding,
$height
) {
  ##{$id} {
    height: $height;
    width: $width;
    background-color: $background-color;
    font-size: $font-size;
    color: $font-color;
    border: $border;
    background: url($customimage) no-repeat right;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: $leftpadding;
  }
}

@mixin tool_bar_text_input(
$id,
$background-color,
$font-size, $width,
$font-color,
$inputborder ,
$inputfontsize,
$customimage,
$textpadding,
$boldweight,
$dividecolor,
$placeholdercolor,
$inputbackground,
$inputleftpadding,
$inputheight,
$inputwidth
) {
  ##{$id} {
    min-width: $width;
    background-color: $background-color;
    font-size: $font-size;
    color: $font-color;
    display: inline-block;
    border-left: 1px solid $dividecolor;

    p {
      padding: $textpadding;
      span {
        font-weight: 900;
        color: black;
      }
    }

    input {
      background: url($customimage) 95% no-repeat;
      border: $inputborder;
      background-color: $inputbackground;
      padding-left: $inputleftpadding;
      font-size: $inputfontsize;
      width: $inputwidth;
      height: $inputheight;

      &::-webkit-input-placeholder {
        color: $placeholdercolor;
      }
      &::-moz-placeholder {
        color: $placeholdercolor;
      }
      &:-ms-input-placeholder {
        color: $placeholdercolor;
      }
      &:-moz-placeholder {
        color: $placeholdercolor;
      }
    }

  }
}
